@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<div id="root">
    <nav>
        <div class="nav nav-tabs">
            <a class="nav-item nav-link active" id="nav-players-tab" data-toggle="tab" href="#nav-players" onclick="changePartialView()" role="tab" aria-controls="nav-players" style="padding: 2px 5px;">Players</a>
            <a class="nav-item nav-link " id="nav-meta-tab" data-toggle="tab" href="#nav-meta" onclick="changePartialView()" role="tab" aria-controls="nav-meta" style="padding: 2px 5px;">Meta</a>
        </div>
    </nav>
    <div id="nav-players">
        <partial name="Players"/>
    </div>
    <div id="nav-meta">
        <partial name="Meta"/>
    </div>
</div>
<script type="text/javascript">
    var flag = false;

    if (window.location.hash === '#nav-meta') {
        flag = true;
    }

    function changePartialView() {
        var elem1 = $("#nav-players");
        var elem2 = $("#nav-meta");
        var elem3 = $('#nav-players-tab');
        var elem4 = $('#nav-meta-tab');
        if (flag) {
            elem1.hide();
            elem2.show();
            elem3.removeClass('active');
            elem4.addClass('active');
            flag = false;
        } else {
            elem2.hide();
            elem1.show();
            elem4.removeClass('active');
            elem3.addClass('active');
            flag = true;
        }
    }

    changePartialView();

</script>
