// Scoreboard.module.scss
.centerDiv {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 540px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.tournamentTitle {
  margin: 0;
  text-align: center;
  // Стили будут определяться пользователем через CSS файл
}

.leftDiv {
  position: absolute;
  top: 15px;
  left: 167px;
  width: 540px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 5;

  .playerInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .playerName {
    margin: 0;
    text-align: left;
  }


  .flag {
    width: 40px;
    height: 40px;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .score {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    .scoreText {
      margin: 0;
      text-align: center;
      // Стили будут определяться пользователем через CSS файл
    }
  }
}

.rightDiv {
  position: absolute;
  top: 15px;
  right: 167px;
  width: 540px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 5;

  .playerInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .playerName {
    margin: 0;
    text-align: right;
  }


  .flag {
    width: 40px;
    height: 40px;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .score {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    .scoreText {
      margin: 0;
      text-align: center;
      // Стили будут определяться пользователем через CSS файл
    }
  }
}

.fightModeDiv {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.fightModeText {
  margin: 0;
  text-align: center;
  // Стили будут определяться пользователем через CSS файл
}

// Адаптивность для мобильных устройств
@media (max-width: 768px) {
  .centerDiv {
    width: 90%;
    height: 50px;
  }

  .leftDiv,
  .rightDiv {
    position: relative;
    left: auto;
    right: auto;
    width: 100%;
    height: 80px;
    margin: 10px 0;
    padding: 0 15px;

    .flag {
      width: 30px;
      height: 30px;
      margin: 0 10px;
    }
  }

  .fightModeDiv {
    position: relative;
    left: auto;
    transform: none;
    width: 100%;
    height: 40px;
    margin: 10px 0;
  }
}