# Зависимости
node_modules/
yarn.lock
package-lock.json

# Сборка
dist/
build/
*.tsbuildinfo

# Логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Временные файлы
.DS_Store
.vscode/
.idea/

# Конфигурационные файлы
*.config.js
*.config.ts

# Другие файлы
coverage/
.nyc_output/
